* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.container {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    display:block;
    width:50%;
}

h1 {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    margin-top: 100px;
    margin-bottom:30px;
    letter-spacing: -0.9px;
    
}

h2 {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    letter-spacing: -0.8px;
    line-height: 110%;
    
}